/* Center the box both horizontally and vertically */
.press-start-2p-regular {
  font-family: 'Press Start 2P',cursive, system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', Raleway, Poppins, Arial;
  margin-bottom: 100px;
}

.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #001219;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 3rem; 
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: #2b2c28;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-page h2 {
  font-size: 24px;
  font-weight: bold;
  /* color: #111418; */
  /* color : #31473A; */
  color: #FAB12F;
  margin-bottom: 1rem;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Space between the input fields */
  width: 100%;
  color: #FAB12F;
}

.auth-page input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; 
}

.auth-page button {
  font-family: 'Press Start 2P',cursive , Arial, sans-serif;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; 
}

.auth-page button[type='submit'] {
  font-family: 'Press Start 2P',cursive , Arial, sans-serif;
  background-color: #338de6;
  /* color: white; */
  color: white;

}

.auth-page input:focus {
  border-color: #338de6; /* Add focus styling for better UX */
  outline: none; /* Remove default focus outline */
}

.toggle-auth {
  margin-top: 1rem;
  color: #FAB12F
}

.toggle-button {
  background: none;
  border: none;
  color: #338de6;
  cursor: pointer;
  font-weight: bold;
}