.dashboard-container {
  display: flex;
  flex-wrap: wrap;  /* Ensures responsiveness if there are too many sections */
  justify-content: space-between;
  gap: 20px;
  color: #FAB12F;
}

.language-section {
  flex: 1;
  min-width: 250px;  /* Minimum width for each language section */
  margin-bottom: 20px;
}

.lesson-item {
  margin-top: 10px;
}

.lesson-title {
  font-size: 16px;
  font-weight: bold;
}

.lesson-progress {
  font-size: 14px;
  color: gray;
}

.lesson-progress-bar-background {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 6px;
  width: 100%;
  margin-top: 5px;
}

.lesson-progress-bar {
  background-color: #007bff;
  height: 6px;
  border-radius: 5px;
}

.lessons-list {
  margin-top: 20px;
}

.start-path-button {
  font-family: 'Press Start 2P', cursive, Arial, sans-serif;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-path-button:hover {
  background-color: #0056b3;
}

.progress-bar-background {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 8px;
}

.progress-bar {
  background-color: #007bff;
  height: 8px;
  border-radius: 10px;
}