/* Centered title styling */
.lecture-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.lecture-header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.lecture-body {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
}

/* Start Quiz button styling */
.start-quiz-button {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #d2a119; /* mustard color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-game-button:hover {
  background-color: #b58f10; /* darker mustard */
}